@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');

*{
    margin: 0;
}

body{
    font-size: 100%;
    display: block;
    margin: 0 auto;
    justify-content: center;
    background-image: linear-gradient(to right, rgba(241, 30, 128, 0.911) , rgba(71, 143, 226, 0.938));
}

form {
    display:flex;
    justify-content: center;
    margin: 25px;

}

fieldset{
    display: flex;
    margin-top: 5%;
    flex-direction: column;
    border: none;
    padding: 15px;
    background-color: rgba(8, 10, 12, 0.377);
    border-radius: 6px;
    height: 260px;
}

h1{
    display: flex;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(247, 247, 247);
    padding: 0px;
}

p{
    margin: 4px;
    font-family: 'Barlow Condensed', sans-serif;
    color: aliceblue;;
}

textarea{
    color: aliceblue;
    color: rgba(83, 88, 92, 0.815);
}

.Formulario-input{
    display: flex;
    color: rgb(83, 88, 92);
    font-family: 'Barlow Condensed', sans-serif;
    padding: 6px;
    width: 223px;
    margin: 4px;
}

.Formulario-label{
    margin: 4px;
    justify-items: left;
    color: aliceblue;
    font-family: 'Barlow Condensed', sans-serif;   
}

#voltar:hover{
    background-color: rgba(236, 214, 196, 0.53);
}


#botao-voltar{
    display: flex;
    border: none;
    text-decoration: none;
    justify-content: center;
    margin: 10px;
    width: 30%;
    padding: 1%; 
    background-color: aliceblue;
    border-radius: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.25);
}

.botao-cadrastro:hover{
    background-color: rgba(236, 214, 196, 0.53);
}

.botao-cadrastro{
    display: flex;
    border: none;
    text-decoration: none;
    justify-content: center;
    margin: 10px;
    width: 30%;
    padding: 1%; 
    background-color: aliceblue;
    border-radius: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: 1%;
    margin-right: 2%;
    box-shadow: 4px 3px 4px rgba(0, 0, 0, 0.25);
    
}


#webset{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    
}








    
